.post-content {
  img {
    width: 100%;
    height: auto;
  }

  p, pre {
    line-height: 1em;
    padding: .25em 0;
    margin: 0 auto;
    max-width: 60ch;
  }

  pre {
    max-width: 100ch;
    overflow: auto;
    max-height: 80vh;
  }

  pre.allowwrap {
    text-wrap: auto;
  }

  p.imagecell {
    max-width: 100%;
    text-align: center;

    img {
      display: inline-block;
    }
  }


  h3, h4 {
    text-align: center;
  }

  h4 {
    margin: .5em 0;
    padding: 0;
  }
}