@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');


:root {
    --primary-color: #fff;
    --primary-light: #333;
    --secondary-color: #000;
}

header {
    display: flex;
    padding-top: 10px;
}

nav {
    padding-left: 20px;
    flex: 3;
    height: 60px;
    line-height: 50px;
    vertical-align: middle;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li::after {
    margin-right: 10px;
    content: " •• ";
}

nav ul li a:hover {
    color: var(--primary-light);
}

nav a {
    font-family: "Special Gothic Condensed One", sans-serif;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.passive-logo {
    align-items: center;
    width: 60px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.passive-logo .text {
    color: white;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-size: 40px;
    font-weight: 700;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 1s forwards;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
}