.background-blocks {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 50vh;
}

.background-blocks div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.background-fade {
  background: var(--background-fade);
  z-index: 1;
}

.background-pattern {
  z-index: 0;

  background: var(--_g), var(--_g) 0 calc(var(--s) / 2),
  conic-gradient(from 180deg at 75%, var(--c2) 60deg, #0000 0),
  conic-gradient(from 60deg at 75% 75%, var(--c1) 0 60deg, #0000 0),
  linear-gradient(150deg, var(--_l)) 0 calc(var(--s) / 2),
  conic-gradient(at 25% 25%, #0000 50%, var(--c2) 0 240deg, var(--c1) 0 300deg, var(--c2) 0),
  linear-gradient(-150deg, var(--_l)) var(--c3);
  background-size: calc(0.866 * var(--s)) var(--s);
}
