
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

header, main {
  z-index: 10;
  position: relative;
  margin: 20px;
}

main {
  padding-bottom: 60px;
}

.button {
  border-radius: 10px;
  line-height: 20px;
  padding: 10px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
