footer {
  z-index: 10;
  display: flex;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(255,255,255, 1) 0%,rgba(255,255,255, 0) 100%);
  margin: 0;
  padding: 20px 0 0;
  line-height: 60px;
}

footer div {
  flex: 2;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.social-links {
  display: flex;
  list-style: none;
  height: 20px;
  margin: 0;
  padding: 0;
}

.social-links li a{
  text-decoration: none;
  color: var(--primary-color);
}
