header {
  display: flex;
  padding-top: 10px;
}

nav {
  padding-left: 20px;
  flex: 3;
  height: 60px;
  line-height: 50px;
  vertical-align: middle;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li::after {
  margin-right: 10px;
  content: " •• ";
}

nav ul li a:hover {
  color: var(--primary-light);
}

nav a {
  font-family: "Special Gothic Condensed One", sans-serif;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;

  &:visited {
    color: var(--primary-color);
  }

  &.current {
    color: var(--primary-light);
  }
}

.passive-logo {
  align-items: center;
  width: 60px;
}
.passive-logo .circle:hover {
  cursor: pointer;
}

.passive-logo .text {
  color: var(--secondary-color);
  font-family: "Special Gothic Condensed One", sans-serif;
  font-size: 40px;
  font-weight: 700;
  opacity: 0;
  animation: fadeIn 2s ease-in-out 1s forwards;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.passive-logo a .text {
  text-decoration: none;
  cursor: pointer;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body.light .mode-switch i {
  --fa: "\f185";
}

body.dark .mode-switch i {
  --fa: "\f186";
}

.mode-switch {
  cursor: pointer;

  &:hover {
   color: var(--primary-light);
  }
}
